{% load plotly_dash %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>{{ time }}即時發電資料</h1>
                <div class="col-sm-6">
                    <div id="pie-chart-container">
                        <script type="text/javascript">
                            var plotlyData = {{ fig|safe }};
                            Plotly.newPlot('pie-chart-container', plotlyData.data, plotlyData.layout);
                        </script>
                    </div>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <table class="table-sm">
                        {% for i in list2 %}
                        <tr>
                            {% for j in i %}
                            <td>{{ j }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>



    </body>
</html>